# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\000myproject\workspace\emps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
